table{
    border-radius: 8px;
    border: 2px solid red
}

.table-blue{
    color:blue
}

.table-bold{
    font-weight: bold;
}

#name {
    font-weight: bold;
}

tr > td {
    color:greenyellow
}


.disign {
    color:cyan
}

.anything{
    color:crimson
}

.colorr{
    color:blueviolet
}

[href="index.html"]{
    color:deeppink
}